/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
}

#intro {
    background: #f4f4f4;
    padding: 20px 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-info h2 {
    margin: 0;
}

.profile-info p {
    font-size: 1.2em;
}

#about, #projects {
    padding: 20px 0;
}

#projects .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    color: #666;
}

.project-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.project-card .btn:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer h2 {
    margin-bottom: 10px;
    color: #fff; 
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.social-icon:hover {
    color: #ddd;
}
.social-icon.twitter i {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

